#tela {
    width: 1300px;
    margin: auto;
    position: relative;
}

.roleta {
    display: flex;
    overflow: hidden;
    width: 1175px;
    margin: auto;
    position: relative;
}

.cards {
    background-color: #82A0AA66;
    height: 400px;
    width: 275px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;

    border-radius: 8px;
    
}

.cards img{
    height: 350px;
    width: 275px;
}

.Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: white;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 4px;
    user-select: none;
    
  }
  
  .forward {
    right: 0;
  }
  
  .Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
  }

